body {
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do Menu de Navegação */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40; /* Definindo a cor de fundo para a barra de navegação */
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    padding: 0 15px;
    color: white;
}

.nav-item .nav-link:hover {
    color: #92E016;
}

/* Ajustar o carrossel para ocupar 80% da altura da página com margens */
#carousel-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 80vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}

/* Estilos para a seção de serviços (cards) */
#services-section {
    background-color: #A2A2A2;
    padding: 50px 0;
    min-height: 80vh;
}

.card {
    background-color: transparent;
    border: 2px solid #92E016;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}

.card-header {
    background-color: #5EB71B;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-body ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}

.card-body li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-body img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Estilos para imagens de fundo (Metodologia e Clientes) */
.full-image-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.methodology-section {
    background-image: url('https://fluowen.github.io/jcr-ambiental/images/04_Metodologia.png');
}

.clients-section {
    background-image: url('https://fluowen.github.io/jcr-ambiental/images/05_Clientes.png');
}
