body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do Menu de Navegação */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    padding: 0 15px;
    color: white;
    font-weight: bold; /* Itens da barra de navegação em negrito */
}

.nav-item .nav-link:hover {
    color: #92E016;
}

/* Ajustar as seções para ocupar 100% da página */
.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f0f0f0; /* Fundo sólido */
}

/* Conteúdos dentro das seções ocupam 98% da seção */
.section-content {
    width: 98%;
    height: 98%;
}

/* Ajustar o carrossel para ocupar 98% da seção */
#carousel-section .section-content {
    width: 98%;
    height: 98%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Seção de Metodologia e Clientes com imagem contida na seção, posicionada acima */
.full-image-section {
    background-color: #ffffff; /* Fundo sólido para as seções */
    position: relative;
}

.full-image-section .section-content {
    position: relative;
}

.full-image-section img {
    position: absolute;
    top: -30px; /* Ajuste para colocar a imagem acima do conteúdo da seção */
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    max-height: 200px; /* Limita a altura da imagem */
    object-fit: cover;
    z-index: 1;
}

.full-image-section .text-content {
    z-index: 2;
    padding-top: 220px; /* Espaço suficiente para que o texto não sobreponha a imagem */
}

/* Estilos para a seção de serviços */
#services-section .section-content {
    background-color: #A2A2A2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: transparent;
    border: 2px solid #92E016;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    background-color: #5EB71B;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-body ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}

.card-body li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-body img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
