body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Estilo do Menu de Navegação */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    padding: 0 15px;
    color: white;
}

.nav-item .nav-link:hover {
    color: #92E016;
}

/* Estilos Gerais para as Seções */
section {
    margin: 2% auto;  /* Margem de 2% em todos os lados */
    width: 96%;       /* Largura de 96% para acompanhar as margens */
    height: 96vh;     /* Cada seção ocupa 96% da altura da viewport */
}

/* Ajustes Específicos para o Carrossel */
#carousel-section {
    margin: 2% auto;
    width: 96%;
    height: 96vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}

/* Estilos para a seção de serviços (cards) */
#services-section {
    background-color: #A2A2A2;
}

.card {
    background-color: transparent;
    border: 2px solid #92E016;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-header {
    background-color: #5EB71B;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-body ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card-body li {
    margin-bottom: 10px;
}

/* Estilos para imagens de fundo (Metodologia e Clientes) */
.full-image-section {
    background-size: cover;
    background-position: center;
}
