body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do Menu de Navegação */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    padding: 0 15px;
    color: white;
    font-weight: bold; /* Itens da barra de navegação em negrito */
}

.nav-item .nav-link:hover {
    color: #92E016;
}

/* Ajustar as seções para ocupar 100% da página */
.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Conteúdos dentro das seções ocupam 98% da seção */
.section-content {
    width: 98%;
    height: 98%;
}

/* Ajustar o carrossel para ocupar 98% da seção */
#carousel-section .section-content {
    width: 98%;
    height: 98%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para a seção de serviços */
#services-section .section-content {
    background-color: #A2A2A2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: transparent;
    border: 2px solid #92E016;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    background-color: #5EB71B;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-body ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}

.card-body li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-body img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Seção de Metodologia e Clientes com imagem como conteúdo */
.full-image-section .section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.full-image-section img {
    width: 100%; /* As imagens ocupam toda a largura da seção-content */
    max-height: 50%; /* Limita a altura da imagem para metade da seção */
    object-fit: cover; /* Garante que a imagem cubra sua área designada sem distorção */
    margin-bottom: 20px; /* Espaço entre a imagem e o conteúdo adicional abaixo dela */
}
